---
---

@import "{{ site.theme }}";

.page-header {
  background: linear-gradient(135deg, hsla(173, 100%, 18%, 1) 35%, hsla(228, 41%, 23%, 1) 73%);
}

.project-tagline {
	color: #FFFFFF
}

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #005D52;
  }